@page "/contacts"
@inject IContactService ContactService
@inject NavigationManager NavigarionManager

<PageTitle>ContactsApp</PageTitle>
<h3>Your Contacts</h3>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Category</th>
            <th>Note</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in ContactService.Contacts)
        {
                <tr>
                    <td>@contact.FirstName</td>
                    <td>@contact.LastName</td>
                    <td>@contact.PhoneNumber</td>
                    <td>@contact.Category.Name</td>
                    <td>@contact.Note</td>
                    <td>
                        <button class="btn btn-primary" @onclick="(() => ShowContact(contact.Id))" ><i class="oi oi-pencil"></i></button>
                    </td>
                </tr>
        }
    </tbody> 
</table>
<button class="btn btn-primary" @onclick="CreateNewContact">Create New Contact</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ContactService.GetContacts();
    }

    void ShowContact(int id)
    {
        NavigarionManager.NavigateTo($"contact/{id}");
    }

    void CreateNewContact()
    {
        NavigarionManager.NavigateTo("/contact");
    }
}
